*,
*::after,
*::before {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app.light {
  background-color: aliceblue;
}

#app.dark {
  background-color: black;
}

button {
  font-size: 3rem;
  padding: 1rem 1.5rem;
  border: 4px solid;
}

.light button {
  background-color: transparent;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 15px inset rgba(0, 0, 0, 0.15);
}

.dark button {
  background-color: black;
  color: aliceblue;
  border-color: aliceblue;
  box-shadow: 0 0 50px aliceblue;
}
